.DS_Store
app/.DS_Store
app/views/.DS_Store
db/*.sqlite3
log/*
tmp/pids/backgroundrb_11006_worker_folder_scan_worker.pid
tmp/pids/backgroundrb_11006_worker_scrap_imdb_worker.pid
coverage.data
coverage/app-controllers-admin_controller_rb.html
coverage/app-controllers-application_controller_rb.html
coverage/app-controllers-home_controller_rb.html
coverage/app-controllers-media_folders_controller_rb.html
coverage/app-controllers-video_contents_controller_rb.html
coverage/app-controllers-video_file_references_controller_rb.html
coverage/app-controllers-video_posters_controller_rb.html
coverage/app-helpers-application_helper_rb.html
coverage/app-helpers-home_helper_rb.html
coverage/app-helpers-video_contents_helper_rb.html
coverage/app-models-genre_rb.html
coverage/app-models-media_folder_rb.html
coverage/app-models-movie_rb.html
coverage/app-models-tv_episode_rb.html
coverage/app-models-tv_show_rb.html
coverage/app-models-video_content_rb.html
coverage/app-models-video_file_property_rb.html
coverage/app-models-video_file_reference_rb.html
coverage/app-models-video_poster_rb.html
coverage/index.html
coverage/jquery-1.3.2.min.js
coverage/jquery.tablesorter.min.js
coverage/lib-util-file_name_cleaner_rb.html
coverage/lib-util-imdb_metadata_scraper_rb.html
coverage/lib-util-media_info_util_rb.html
coverage/lib-workers-scrap_imdb_worker_rb.html
coverage/print.css
coverage/rcov.js
coverage/screen.css
coverage/lib-util-folder_scanner_rb.html
coverage/lib-workers-folder_scan_worker_rb.html