.overclear {
	width: 100%;
	overflow: hidden;
}

.defaultForm label {
    float: left; 
    clear: left;
    width: 10em;
    text-align: right;
    padding-right: 8px;
    height: 20px;
    color: black;
    padding-top: 3px;
}

.selectLabel {
    margin-top: 4px;
}

.defaultForm legend {
    padding: 5px;
    font-weight: bold;
    color: black;
}

.defaultForm fieldset {
    margin: 0 0 0.5em 0;  
    padding: 0;  
    padding-bottom: 10px;
    border: 1px solid #BFBAB0;  
    background-color: #F2EFE9;  
    background-image: url(/images/fieldset_gradient.jpg);  
    background-repeat: repeat-x; 
}

.defaultForm input, select, textarea {
    margin-right: 5px;
}

.defaultForm select {
    height: 25px;
}

.defaultForm input {
    height: 18px;
}

.defaultFormTextField {
    width: 220px;    
}

.defaultFormCheckBox {
    margin-top: 3px;
}

.defaultFormError {
    display: inline;
    color: red;
}

.defaultFormField {
    padding-top: 5px;
}

.defaultFormError {
    color: red;
    font-weight: bold;
}

.defaultFormButtons {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.defaultFormErrorOverview {
    float: left;
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

.fieldWithErrors {
    display: inline;
}

.fieldWithErrors input {
    background-color: #FA9898;
}

.contentCarouselItem {
    width: 150px;
    height: 195px;    
    padding: 5px; 
    position : relative;    
}

.contentCarouselImageDiv {
    position: absolute;
    top: 26px;
    left: 25px;
}

.contentCarouselImage {
    margin-top: 0px;
    margin-bottom: 0px;
}


.contentCarouselName {
    font-weight: bold;
}

.contentCarouselYear {
    position: absolute;
    bottom: 5px;    
    left: 10px;    
}

.contentCarouselRuntime {
    position: absolute;
    bottom: 5px;    
    right: 10px;    
}

.viewWrapper {

}

.viewCoreMetadata {
    float: left;
    width: 550px;
    margin-right: 20px; 
}

.viewPosterWrapper {
    float: left;
    max-width: 290px;
}

.viewPosterLargeImg {
    max-width: 290px;    
}

.viewCoreDetailsWrapper {
    padding-top: 15px;
}

.viewCoreDetailsLeft {
    float: left;
    width: 275px;
    margin-right: 10px;
}

.viewCoreDetailsRight {
    float: left;
}

.viewDetailsLabel { 
    font-weight: bold;
    float: left;
    width: 100px;
}

.viewDetailsValue {
    float: left;
    text-align: right;
    width: 160px;
    margin-left: 5px;
}

#viewAccordionWrapper {
    padding-top: 10px;
    padding-left: 2px;
}

.viewAccordion .yui-cms-accordion .yui-cms-item {

}

.accordionContent {
    padding: 10px;
}

.formWrapper {
    float: left;
    width: 600px;
}

.formSideBar{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.viewActionsWrapper {
    margin-top: 5px;
}

.filePropertyName {
    font-weight: bold;
}

.hiddenDiv {
    visibility:hidden;
}

.viewGenreLabel {
    font-weight: bold;
    padding-right: 10px;
}

.bulkChangeSearchResults {
    padding-top: 5px;    
    clear:both;
}

.noResults {
    font-style: italic;
}

#bulkChangeTable {
    margin-bottom: 10px;    
}

.fakeLink {
    cursor: pointer;
    text-decoration: underline;
}

#selectHelperWrapper {
    padding-top: 1px;
    padding-bottom: 10px;
}

#loginHeader {
    padding: 5px;
    float: left;
    width: 215px;
    text-align: right;
}

#watchedWrapper {
 float: right;   
 margin-top: 5px;
 margin-right: 0px;
}

.notWatched {
    opacity : 0.4;
    filter: alpha(opacity=40); // msie
    background-color: #000;
}

#watchedWrapper img {
    background-color: white !important; 
    border : none !important;
}

#showTypeIconWrapper {
 float: right;   
 margin-top: 5px;
 margin-right: 5px;
}

#showTypeIconWrapper img {
    background-color: white !important; 
    border : none !important;
}

#yui-history-iframe {
  position:absolute;
  top:0; left:0;
  width:1px; height:1px; /* avoid scrollbars */
  visibility:hidden;
}

#imdbSearchResultWrapper {
  padding: 5px 5px 5px 0px;
  max-height: 350px;
  overflow: auto;
}

#nfoWrapper {
    overflow: auto;
    max-width: 495px;
    max-height: 495px;
}

#movieSearchDiv {
  margin-top: 18px;
  margin-right: 5px;
  float: right;
}

#movieSearchDiv label {
  display: none;
}

#movieSearchDiv input {
  height: 18px;
}